
.light-theme {
  background-color: #ffffff;
  color: #000000;
}


.dark-theme {
  background-color: #222222;
  color: #ffffff;
}

.app-container {
  min-height: 100vh;
  position: relative; 
  transition: background-color 0.3s, color 0.3s;
}

.toggle-theme {
  position: absolute;
  top: 10px;
  right: 10px;
}

.movie-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.horizontal-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%; 
}

.vertical-movies {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.movie {
  margin-bottom: 20px;
  text-align: center;
}

.movie img {
  width: 200px;
  height: auto;
}

.movie-title {
  margin-top: 10px;
}
